@CHARSET "UTF-8";

body {
	font-family: 'Clicker Script', cursive;
	position: relative;
	background-color: #FFFFFF;
	color: #787878;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
}

div {
	margin: 0px;
	padding: 0px;
}

div.Clear {
	clear: both;
}


