@CHARSET "UTF-8";
/**
	background-image:url('../Files/Images/wavegrid.png');
	background-repeat:repeat;
*/
body {
	font-family: 'kabelmedium';
	color: #292929;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
	color: #292929;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
}

a .ClearStyle :hover {
	text-decoration: none;
}

a {
	text-decoration: none;
}

a.ClearStyle:hover {
	text-decoration: none;
}

a {
	font-weight: bold;
	text-decoration: underline;
}

a:link {
	color: #292929;
}

a:visited {
	color: #292929;
}

a:hover {
	color: #292929;
}

a:active {
	color: #292929;
}

div.Menu a:hover {
	text-decoration: none;
}

div.Menu {
	overflow: hidden;
	height: 70px;
	line-height: 70px;
	background-color: #F5C1B7;
	font-size: 23px;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 900;
	margin-top: 10px;
	width: 100%;
	height: 70px;
	overflow: hidden;
}

div.Menu a {
	text-decoration: none;
	padding: 0px 25px;
	color: #E36D6E;
}

div.Menu a:hover {
	color: #F66768;
}

div.Monogram {
	padding-top: 234px;
}

div.Banner {
	position: relative;
	color: #fefbd7;
	margin: 0px auto;
	margin-bottom: 55px;
	top: 25px;
	width: 302px;
	height: 84px;
	line-height: 64px;
	font-size: 33px;
	font-family: 'lavanderia_regularregular', Sans-Serif;
	background-image: url('../Files/Images/banner_blank.png');
}

div.Center {
	text-align: center;
}

h1 {
	margin: 0px auto;
	max-width: 900px;
	color: #fefbd7;
	font-size: 25px;
	line-height: 33px;
	text-align: left;
}

h2 {
	margin: 0px auto;
	max-width: 900px;
	font-family: 'lavanderia_regularregular', Sans-Serif;
	color: #F16263;
	line-height: 46px;
	font-size: 40px;
	font-weight: normal;
	text-align: left;
}

div.Header3 {
	margin: 0px auto;
	max-width: 900px;
	color: #F16263;
	font-size: 25px;
	line-height: 25px;
}

h4 {
	color: #000;
	margin: 0px auto;
	max-width: 900px;
	font-size: 20px;
	line-height: 25px;
	font-weight: bold;
	max-width: 900px;
	margin: 25px auto
}
/* The day contents */
h5 {
	font-weight: bold;
	margin: 0px auto;
	max-width: 900px;
	color: #fefbd7;
	font-size: 20px;
	line-height: 25px;
	text-align: left;
}

input,textarea {
	font-family: 'kabelmedium';
	border: 1px solid #8c8c8c;
	background: #fefbd7;
	color: #1f1f1f;
	font-size: 1.1em;
	padding: 5px;
}

input.Button {
	padding: 0px;
	font-size: 20px;
}

input:focus,textarea:focus {
	border: 1px solid #F16263;
	outline: 0;
}

*.Hidden {
	display: none;
}

*.Button {
	border: 0px;
	margin: 20px 0px;
	padding-left: 10px;
	text-align: center;
	height: 46px;
	background: #F16263;
	background-color: #F16263;
	width: 260px;
	font-size: 20px;
	line-height: 46px;
	color: #F2A2A6;
}

*.Center {
	margin-left: auto;
	margin-right: auto;
}

*.Button:hover {
	background-color: #E25354;
	cursor: pointer;
}

*.Button:ACTIVE {
	position: relative;
	top: 1px;
	background-color: #E25354;
	cursor: pointer;
	top: 1px;
}

*.VerticalCenterParent {
	display: table;
	padding-bottom: 20px; #
	position: relative;
}

* .VerticalCenter {
	display: table-cell;
	vertical-align: middle; #
	position: absolute; #
	top: 50%
}

* .VerticalCenterContents { #
	position: relative; #
	top: -50%"
}

div.Tree {
	position: relative;
}

div.Tree div.Background {
	position: absolute;
	left: 0px;
	top: 0px;
}

div.Strip img.BannerImage {
	margin: 20px;
}

div.Strip_01 img.BannerImage {
	margin-top: 200px;
}

div.ReplyCodeButton {
	margin: 0px auto;
	display: inline-block;
}

/* Overlay */
#simplemodal-overlay {
	background-color: #000;
}

/* Container */
#simplemodal-container {
	height: 500px;
	width: 600px;
	background-color: #fefbd7;
	padding: 12px;
}

#simplemodal-container .simplemodal-data {
	padding: 8px;
}

#simplemodal-container a {
	color: #ddd;
}

#simplemodal-container a.modalCloseImg {
	background: url(../Files/Images/CloseModalButton.png) no-repeat;
	width: 25px;
	height: 29px;
	display: inline;
	z-index: 3200;
	position: absolute;
	top: -15px;
	right: -16px;
	cursor: pointer;
}

#simplemodal-container h3 {
	color: #84b8d9;
}

hr {
	background: #1f1f1f;
	height: 1px;
	border: 0px;
}

#ReplyCodeSongs {
	margin-top:80px;
}

#ReplyCodeRSVP {
	margin-top: 80px;
}
