@CHARSET "UTF-8";

div.Menu {
	background-color: #F5C1B7;
	text-align: center;
}

div.Menu a {
	color: #E36D6E;
}

div.Monogram {
	padding: 234px;
	text-align: center;
}

div.stick {
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 10000;
}
