@CHARSET "UTF-8";

body {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}

a {
	text-decoration: none;
}

div.Menu {
	font-weight: bold;
	overflow: hidden;
	height: 70px;
	line-height: 70px;
	background-color: #F5C1B7;
	font-size: 23px;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 10000;
	margin-top: 10px;
	width: 100%;
	height: 70px;
	overflow: hidden;
}

div.Menu a {
	padding: 0px 25px;
	color: #E36D6E;
}

div.Menu a:hover {
	color: #F66768;
}

div.Monogram {
	padding-top: 234px;
}

div.Banner {
	color: #fefbd7;
	margin: 0px auto;
	width: 302px;
	height: 84px;
	font-size: 40px;
	font-family: 'Clicker Script', cursive;
	background-image: url('../Files/Images/banner_blank.png');
}

div.Center {
	text-align: center;
}

div.PartyDetails {
	width: 800px;
	margin: 0px auto;
	overflow: hidden;
	margin: 0px auto;
}

div.PartyDetails div.Map {
	float: left;
}

h1 {
	font-weight: bold;
	margin: 0px auto;
	max-width: 900px;
	color: #fefbd7;
	font-size: 25px;
	line-height: 33px;
	text-align: left;
}

h2 {
	margin: 0px auto;
	max-width: 900px;
	font-family: 'Clicker Script', cursive;
	color: #F16263;
	line-height: 55px;
	font-size: 50px;
	font-weight: normal;
	text-align: left;
}

h3 {
	margin: 0px auto;
	max-width: 900px;
	color: #F16263;
	font-size: 25px;
	line-height: 25px;
	font-weight: bold;
}

h4 {
	color: #000;
	margin: 0px auto;
	max-width: 900px;
	font-size: 20px;
	line-height: 25px;
	font-weight: bold;
	max-width: 900px;
	margin: 25px auto
}

div.PartyDetails div.Details {
	margin-left: 30px;
	height: 48px;
	line-height: 48px;
	width: 325px;
	float: left;
}

div.PartyDetails div.Details div.Button {
	margin: 20px 0px;
	padding-left: 10px;
	text-align: left;
	height: 46px;
	background-color: #F16263;
	width: 260px;
}

div.PartyDetails div.Details div.Button a {
	font-size: 20px;
	line-height: 46px;
	color: #F2A2A6;
	font-weight: bold;
}

div.PartyDetails div.Details div.Button:hover {
	cursor: pointer;
}

input.Input {
	border: 1px solid #f0394c;
	background: #f0394c;
	color: #ffffff;
	font-size: 1.1em;
}

div.Tree {
	position: relative;
}

div.Tree div.Background {
	position: absolute;
	left: 0px;
	top: 0px;
}

div.Strip img.BannerImage {
	margin: 20px;
}