@CHARSET "UTF-8";

body {
	background-color: #E46D6D;
	font-family: 'Imprima', sans-serif;
}

a {
	text-decoration: none;
	color: #FF3000;
}

a:hover {
	text-decoration: underline;
}

div.Container div.TimeLineContent {
	height: 150px;
	background-color: #F5BEB3;
	margin-bottom: 200px;
}

div.Container div.Scroller {
	display: none;
}

div {
	margin: 0px;
	padding: 0px;
}

div.Container {
	padding-bottom: 50px;
	margin: 0px auto;
	width: 990px;
	background-color: #dddddd;
}

div.Container div.Menu {
	margin: 0px auto;
	width: 990px;
	background-color: #F5BEB3;
	text-align: center;
}

div.Container div.BannerWrapper {
	height: 233px;
}

div.Container div.stick {
	position: fixed;
	top: 0px;
	z-index: 10000;
}

div.Container div.Crop div.TimeLine {
	position: absolute;
	top: 40px;
	left: 40px;
	text-shadow: navy;
	font-size: 50px;
	line-height: 60px;
	font: bold;
	font-family: sans-serif;
	font-style: inherit;
	font-weight: 700;
	color: #FF6F60;
}

div.Container div.Crop {
	position: relative;
	height: 327px;
}

div.Container div.Crop img.BannerFrame {
	position: absolute;
	top: 0px;
	left: 0px;
}