@CHARSET "UTF-8";

div.Strip {
	min-width: 1200px;	
	min-height: 600px;
	
}

div.Strip_08 {
	background-color: #F16263;
}

div.Strip_01 {
	background-color: #F16263;
}
/*background-color: rgba(255, 0, 0, 0.6);*/

div.Strip_02 {
	background-color: #ED7473;
}

div.Strip_03 {
	background-color: #F59192;
	height: 850px;
}

div.Strip_04 {
	background-color: #F2A2A6;
}

div.Strip_05 {
	background-color: #EFACB3;
}

div.Strip_06 {
	background-color: #EFBDC2;
}

div.Strip_07 {
	background-color: #F4D3D8;
}

div.StripFooter{
	height: 80px;
}

#Strip_02, #Strip_07 {
	margin-top: 120px;
}

#Strip_04 {
	margin-top: 640px;
}