@CHARSET "UTF-8";

div.PartyDetails {
	text-align: left;
	width: 700px;
	margin: 0px auto;
	height: 400px;
}

div.PartyDetails div.Map img{
	box-shadow: 0 0 100px #FF3333;
	-moz-box-shadow: 0 0 100px #FF3333;
	-webkit-box-shadow: 0 0 100px #FF3333;
}

div.PartyDetails div.MapDetails {
	padding-left: 35px;
	margin-left: 30px;
	line-height: 48px;
}

div.PartyDetailsEvents div {
	padding-bottom: 15px;
	margin: 0px auto;
	width: 600px;
}

div.PartyDetails div.Title {
	font-weight: bold;
}
