@CHARSET "UTF-8";

div.Slider {
	display: table;
	width: 1200px;
	height: 500px;
	margin: 0px auto;
	overflow: visible;
}

div.SliderContent {
	float: left;
	width: 1000px;
}

div.Slide div.Picture {
	height: 500px;
	display: table-cell;
	vertical-align: middle;
}

div.Slide div.Picture img, iframe {
	margin-right: 40px;
	box-shadow: 0 0 100px #FF3333;
	-moz-box-shadow: 0 0 100px #FF3333;
	-webkit-box-shadow: 0 0 100px #FF3333;
}

div.Slide div.Story {
	height: 500px;
	display: table-cell;
	vertical-align: middle;
}

div.Slider div.Chevron img:hover {
	cursor: pointer;
}

div.Slider div.Chevron {
	display: table-cell;
	vertical-align: middle;
	width: 100px;
	height: 500px;
}

div.Slider div.Slide {
	width: 1000px;
	height: 500px;
	padding: 10px;
	text-align: left;
}

div.Slide span.Date {
	font-size: 16px;
	line-height: 20px;
}

div.Slide span.Title {
	font-size: 30px;
	line-height: 40px;
}

div.Slide span.Content {
	font-size: 16px;
	line-height: 20px;
}

div.Slide div.Story span {
	display: inline-block;
	margin-bottom: 5px;
}