@CHARSET "UTF-8";

div.Slider {
	width: 700px;
	margin: 0px auto;
}

div.Slider img.Picture {
	float: left;
	margin-right: 10px;
}

div.Slider div.Slide {
	margin: 10px;
}

div.Slider div.Hidden {
	display: none;
}

div.Slider a.Chevron {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	width: 50px;
	float: left;
	text-align: center;
}

div.Slider div.Content {
	width: 600px;
	float: left;
}