@CHARSET "UTF-8";

div.WeddingParty {
	position: relative;
	width: 1000px;
	margin: 0px auto;
}

div.WeddingPartyCell img {
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
}

div.WeddingPartyCell div.CellHover {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 150px;
	width: 150px;
	opacity: 0.4;
	filter: alpha(opacity =  40);
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
}

div.WeddingPartyCell div.CellHover:Hover {
	background-color: #F5BEB3;
	cursor: pointer;
}

div.WeddingPartyCell {
	position: absolute;
	height: 150px;
	width: 150px;
	padding: 2px;
}

div.WeddingPartyContent span{
	position: absolute;
	top: 225px;
	left: 200px;
	width: 600px;
	height: 200px;
	overflow: auto;
}

div.MainWeddingPartyCell {
	height: 250px;
	width: 250px;
}

div.MainWeddingPartyCell img {
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
}

div.MainWeddingPartyCell div.CellHover {
	height: 250px;
	width: 250px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
}