@CHARSET "UTF-8";

div.WeddingParty {
	font-size: 13px;
	line-height: 18px;
	position: relative;
	width: 1000px;
	margin: 0px auto;
	text-align: center;
}

div.WeddingPartyCell img {
	border: 5px solid rgba(0,0,0,0.000000000001);	
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

div.WeddingPartyCell img.Chosen {
	border: 5px solid #FF3333;
}

div.WeddingPartyCell div.CellHover {
	border: 1px solid rgba(0,0,0,0.000000000001);
	position: absolute;
	top: 5px;
	left: 5px;
	height: 150px;
	width: 150px;
	opacity: 0.4;
	filter: alpha(opacity =  40);
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	
}

div.WeddingPartyCell div.CellHover:Hover {
	background-color: #F5BEB3;
	cursor: pointer;
}

div.WeddingPartyCell {
	position: absolute;
	height: 150px;
	width: 150px;
	padding: 2px;
}

div.Biography  {
}

div.WeddingPartyContent {
	position: absolute;
	top: 160px;
	left: 225px;
	width: 550px;
	height: 275px;
}

div.MainWeddingPartyCell {
	height: 250px;
	width: 250px;
}


div.MainWeddingPartyCell div.CellHover {
	height: 250px;
	width: 250px;
}

div.WeddingPartyContent div.Biography span.Name {
	text-shadow: 0px 0px black;
	font-family: 'lavanderia_regularregular', Sans-Serif;
	color: #F16263;
	line-height: 30px;
	font-size: 25px;
	font-weight: normal;
	text-align: left;
}

div.WeddingPartyContent div.Biography span.Role {
	font-weight: bold;
	line-height: 05px;
	font-size: 15px;
}
