#WeddingPartyCell0 {
	left: -75.0px;
	top: 187.5px;
}

#WeddingPartyCell1 {
	left: 91.66666666666666px;
	top: 436.3389981249825px;
}

#WeddingPartyCell2 {
	left: 258.3333333333333px;
	top: 485.70226039551585px;
}

#WeddingPartyCell3 {
	left: 425.0px;
	top: 500.0px;
}

#WeddingPartyCell4 {
	left: 591.6666666666666px;
	top: 485.70226039551585px;
}

#WeddingPartyCell5 {
	left: 758.3333333333333px;
	top: 436.3389981249825px;
}

#WeddingPartyCell6 {
	left: 830.0px;
	top: 187.5px;
}

#WeddingPartyCell7 {
	left: 91.66666666666666px;
	top: 63.66100187501755px;
}

#WeddingPartyCell8 {
	left: 258.3333333333333px;
	top: 14.297739604484178px;
}

#WeddingPartyCell9 {
	left: 425.0px;
	top: 0.0px;
}

#WeddingPartyCell10 {
	left: 591.6666666666666px;
	top: 14.297739604484178px;
}

#WeddingPartyCell11 {
	left: 758.3333333333333px;
	top: 63.66100187501749px;
}

