
@font-face {
    font-family: 'kabelmedium';
    src: url('../../Files/Fonts/itckabel_medium.eot');
    src: url('../../Files/Fonts/itckabel_medium.eot?#iefix') format('embedded-opentype'),
         url('../../Files/Fonts/itckabel_medium.woff') format('woff'),
         url('../../Files/Fonts/itckabel_medium.ttf') format('truetype'),
         url('../../Files/Fonts/itckabel_medium.svg#itckabelmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
