@font-face {
    font-family: 'kabelmedium';
    src: url('../../Files/Fonts/kabel_book_bt.eot');
    src: url('../../Files/Fonts/kabel_book_bt.eot?#iefix') format('embedded-opentype'),
         url('../../Files/Fonts/kabel_book_bt.woff') format('woff'),
         url('../../Files/Fonts/kabel_book_bt.ttf') format('truetype'),
         url('../../Files/Fonts/kabel_book_bt.svg#kabelbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
